# dependencies
node_modules/

# env
.env
.env.*

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# editor / system
.DS_Store
Thumbs.db
.vscode/
.idea/

# runtime
dist/
build/
tmp/
temp/

# coverage
coverage/

# local certificates
certs/

